body {
    background-image: url('backiee-125001.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    color: #fff; 
    font-family: 'Sedan SC', sans-serif; 
}
.navbar {
    background-color: transparent; 
}

.navbar-brand {
    font-size: 20px; 
    font-weight: bold; 
}

.navbar-nav .nav-item {
    margin-right: 45px;
    font-size: 18px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0; 
}

.nav-link {
    color: #fff; 
}
.nav-link:hover {
    color: #114380f0;
}
.carousel-item img {
   width : 650px; 
    height: 600px;
  }